@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');


//font styling 

//font-styling 
$prm-font: 'Varela', sans-serif;
$prm-font-color: white;
$sec-font-color: #154842;
$prm-font-size: 60px;
$sec-font-size: 35px;



//background colors 




//opacity 




//sizing 



