@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


//font styling 

//font-styling 
$prm-font: 'Roboto', sans-serif;
$prm-font-color: #2b9348;
$sec-font-color: #C36F25;
$ter-font-color: #629925;
$prm-font-size: 60px;
$sec-font-size: 35px;


//background colors 

$background-color: transparent;


//opacity 




//sizing 



