@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import "_variables.scss";
* {
    background-color:#fafafa ;
}
.container {
    margin: 0 auto;
    width: 80vw;
    height: 85vh;
    border-radius: 30px;
    font-family: $prm-font;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("homeBackground.png");
    background-size: cover;
    box-shadow: rgba(241, 122, 25, 0.74) 0px 0px 0px 3px;
    margin-top: 10vh;
    margin-bottom: 5vh;
    .heading {
        margin: 0 auto;
        font-size: 6em;
        color: rgb(46, 82, 55);
        background-color: transparent;
        margin-bottom: 5vh;
        font-family: 'Oswald', sans-serif;
        width: 60vw;
       
   
    }
    .text-wrapper {
        margin: 0 auto;
        padding: 5vh;
        width: 70vw;
        border-radius: 20px;
        background-color: transparent;
        
        
    }
    p {
    margin: 0 auto;
    width: 30vw;
    font-size: 1.5em;
    font-weight: bolder;
    font-family: $prm-font;
    color: #F2A73B;
    align-items: center;
    background-color: transparent;
    }
    .start_btn {
        width: 15vw;
        height: 8vh;
        font-family: $prm-font;
        background-color: #F2A73B;
        color: white;
        font-size: 1.2em;
        text-align: center;
        border: none;
        margin-top: 5vh;
        border-radius: 10px;
        &:hover {
            transform: scale(1.5, 1.5);
        }
    }

}