@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  margin: 0 auto;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 400px;
  height: 710px;
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("backgroundimage.png");
  background-size: contain;
  box-shadow: rgba(85, 77, 77, 0.801) 5px 5px 5px;
}
.container p {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 1000;
  color: #629925;
}
.container .question__container {
  align-items: center;
  width: 325px;
  height: 200px;
  border-radius: 20px;
  background-color: transparent;
  font-size: 20px;
}
.container .question__container h1 {
  color: #2b9348;
  background-color: transparent;
  border-radius: 30px;
  margin: 0 auto;
  text-align: center;
}
.container .question__container h2 {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  font-size: 80px;
}
.container .question_btns {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  border: none;
  border-radius: 30px;
  background-color: transparent;
  width: 300px;
  height: 300px;
  padding: 0px;
  opacity: 1;
}
.container button {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #C36F25;
  justify-content: space-between;
  border: 2px solid #C36F25;
  font-size: 30px;
  font-weight: bolder;
  border-radius: 20px;
  width: 300px;
  height: 55px;
  background-color: transparent;
  opacity: 1;
}
.container button:hover {
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
  background-color: #C36F25;
  color: white;
}
.container .correctButton {
  color: white;
  background-color: #9AAD58;
  border: 2px solid #9AAD58;
}
.container .incorrectButton {
  color: white;
  background-color: #B02E29;
  border: 2px solid #B02E29;
}
.container .reset__game--btn {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}
.container .next__question--btn {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}
.container .previous__question--btn {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}
.container .home--btn {
  border: none;
  font-size: 20px;
}