@import "_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Train+One&display=swap');
* {
    margin: 0 auto;
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    border-radius: 30px;
    font-family: $prm-font;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("mapbackground.png");
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 3px solid salmon;
    margin-top: 10vh;
    margin-bottom: 5vh;
    p {
    margin: 0 auto;
    font-family: 'Train One', cursive;
    font-size: 30px;
    font-weight: bolder;
    width: 10vw;
    height: 10vh;
    color: #F2A73B;
    align-items: center;
    }
    .question__container {
        align-items: center;
        width: 70vw;
        height: 50vh;
        border-radius: 20px;
        background-color: transparent;
        font-size: 1em;
      
        h1 {
            color: #DD644E;
            background-color:   $background-color;
            margin: 0 auto;
            text-align: center;
        }
        .icon {
            margin: 0 auto;
            text-align: center;
            font-size: 6em;
        }
    }
  
    .question__btns {
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
        border: none;
        border-radius: 30px;
        background-color:  $background-color;
        width: 50vw;
        height: 30vh;
        padding: 0px;
        opacity: 1;
        
    }
    .btn {

        font-family: $prm-font;
        font-weight: bold;
        color: #D87101;
        border: none;
        justify-content: space-between;
        font-size: 30px;
        font-weight: bolder;
        border-radius: 20px;
        width: 20vw;
        height: 10vh;
        margin: 0 auto;
        background-color:  $background-color;
        opacity: 1;
        margin-bottom: 2vh;
        margin-left: 2vw;
        border: 2px solid #D87101;
        &:hover {
            opacity: 0.6;
            transition: 0.3s;
            cursor: pointer;
            background-color: $sec-font-color;
            color: white;
        }
    }
    .correctButton {
        color: white;
        background-color: #9AAD58;
        border: 2px solid #9AAD58;
    }
    .incorrectButton {
        color: white;
        background-color: #B02E29;
        border: 2px solid #B02E29;
    }
    a {
        text-decoration: none;
        color: white;
    }
    .reset__game--btn {
        color: #2B7188;
        font-size: 30px;
        font-family: $prm-font;
        width: 25vw;
        height: 5vh;
        border: none;
        border-radius: 50%;
        background-color: transparent;
        a {
            text-decoration: none;
            color: white;
        }
    }
    .next__question--btn {
        color:  #A16260;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 30px;
        font-family: $prm-font;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 50%;
        background-color:  $background-color;
    }
    .previous__question--btn {
         color:  #A16260;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 30px;
        font-family: $prm-font;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 50%;
        background-color: $background-color;
    }
    .homeBtns {
        background-color: transparent;
        border: none;
        font-size: 20px;
    }
    .home__styling {
        border: none;
        font-size: 70px;
        background-color: transparent;
        font-family: 'Codystar', cursive;
    }
}
