@import "_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
* {
    margin: 0 auto;
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    width: 400px;
    height: 710px;
    border-radius: 30px;
    font-family: $prm-font;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("backgroundimage.png");
    background-size: contain;
    box-shadow: rgba(85, 77, 77, 0.801) 5px 5px 5px;
    p {
    font-family: $prm-font;
    font-size: 40px;
    font-weight: 1000;
    color: $ter-font-color;
    }
    .question__container {
        align-items: center;
        width: 325px;
        height: 200px;
        border-radius: 20px;
        background-color: transparent;
        font-size: 20px;
        h1 {
            color: $prm-font-color;
            background-color:   $background-color;
            border-radius: 30px;
            margin: 0 auto;
            text-align: center;
        }
        h2 {
            margin: 0 auto;
            text-align: center;
            font-size: 80px;
        
        }
    }
  
    .question_btns {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        border: none;
        border-radius: 30px;
        background-color:  $background-color;
        width: 300px;
        height: 300px;
        padding: 0px;
        opacity: 1;
    }
    button {
        margin: 10px;
        font-family: $prm-font;
        font-weight: bold;
        color: $sec-font-color;
        justify-content: space-between;
        border: 2px solid $sec-font-color;
        font-size: 30px;
        font-weight: bolder;
        border-radius: 20px;
        width: 300px;
        height: 55px;
        background-color:  $background-color;
        opacity: 1;
        &:hover {
            opacity: 0.6;
            transition: 0.3s;
            cursor: pointer;
            background-color: $sec-font-color;
            color: white;
        }
    }
    .correctButton {
        color: white;
        background-color: #9AAD58;
        border: 2px solid #9AAD58;
    }
    .incorrectButton {
        color: white;
        background-color: #B02E29;
        border: 2px solid #B02E29;
    }
    .reset__game--btn {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 30px;
        font-family: $prm-font;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 50%;
        background-color: $background-color;
    }
    .next__question--btn {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 30px;
        font-family: $prm-font;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 50%;
        background-color:  $background-color;
    }
    .previous__question--btn {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 30px;
        font-family: $prm-font;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 50%;
        background-color: $background-color;
    }
    .home--btn {
        border: none;
        font-size: 20px;
    }
}
